/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  --first-color: hsl(176, 88%, 27%);
  --first-color-alt: hsl(129, 44%, 94%);
  --second-color: hsl(34, 94%, 87%);
  --title-color: hsl(0, 0%, 13%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(129, 36%, 85%);
  --border-color-alt: hsl(113, 15%, 90%);

  /*========== Font and typography ==========*/
  --body-font: "Lato", sans-serif;
  --second-font: "League Spartan" sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition: cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

button,
textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: .75rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section--lg {
  padding-block: 4rem;
}

.form__input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  font-size: var(--small-font-size);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

/*=============== HEADER & NAV ===============*/
.header__top {
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-block: 0.875rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__contact span:first-child {
  margin-right: 2rem;
}

.header__contact span,
.header__alert-news,
.header__alert-top-action {
  font-size: var(--small-font-size);
}

.header__alert-news {
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}

.header__top-action {
  color: var(--text-color);
}

.nav,
.nav__menu,
.nav__list,
.header__user-actions {
  display: flex;
  align-items: center;
}

.nav {
  height: calc(var(--header-height) + 2.5rem);
  justify-content: space-between;
  column-gap: 1rem;
}

.nav__logo-img {
  width: 150px;
}

.nav__menu {
  width: 100%;
  margin-left: 2.5rem;
}

.nav__list {
  column-gap: 2.5rem;
  margin-right: auto;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--weight-700);
  transform: all .3s var(--transition);
  -webkit-transform: all .3s var(--transition);
  -moz-transform: all .3s var(--transition);
  -ms-transform: all .3s var(--transition);
  -o-transform: all .3s var(--transition);
}

.header__search {
  width: 340px;
  position: relative;
}

.header__search .form__input {
  width: 100%;
}

.search__btn {
  position: absolute;
  top: 24%;
  right: 1.25rem;
  cursor: pointer;
}

.header__user-actions {
  column-gap: 1.25rem;
}

.header__action-btn {
  position: relative;
}

.header__action-btn img {
  width: 30px;
}

.header__action-btn span.count {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: var(--tiny-font-size);
  line-height: 18px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home__container {
  grid-template-columns: 5fr 7fr;
  align-items: center;
}

.home__subtitle,
.home__description {
  font-size: var(--large-font-size);
}

.home__subtitle {
  font-family: var(--second-font);
  font-weight: var(--weight-600);
  margin-bottom: 1rem;
  display: block;
}

.home__title {
  font-size: var(--h1-font-size);
  font-weight: var(--weight-700);
  line-height: 1.4;
}

.home__title span {
  color: var(--first-color);
  font-size: var(--big-font-size);
}

.home__description {
  margin-block: .5rem 2rem;
}

.home__img {
  justify-self: flex-end;
}

/*=============== BUTTONS ===============*/
.btn {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: var(--body-color);
  /* padding-inline: 1.75rem; */
  padding: .75rem 1.75rem;
  /* height: 49px; */
  /* line-height: 43px; */
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  border-radius: .25rem;
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -ms-border-radius: .25rem;
  -o-border-radius: .25rem;
  transition: all 0.4s var(--transition);
  -webkit-transition: all 0.4s var(--transition);
  -moz-transition: all 0.4s var(--transition);
  -ms-transition: all 0.4s var(--transition);
  -o-transition: all 0.4s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--first-color);
}

/*=============== CATEGORIES ===============*/

/* Swiper class */

/*=============== PRODUCTS ===============*/

/* Active Tab */

/* Product Hover */

/*=============== DEALS ===============*/

/*=============== NEW ARRIVALS ===============*/

/*=============== SHOWCASE ===============*/

/*=============== NEWSLETTER ===============*/

/*=============== FOOTER ===============*/

/*=============== BREADCRUMBS ===============*/

/*=============== SHOP ===============*/

/*=============== DETAILS ===============*/

/*=============== DETAILS INFO & REVIEWS ===============*/

/*=============== CART ===============*/

/*=============== CART OTHERS ===============*/

/*=============== WISHLIST ===============*/

/*=============== CHECKOUT ===============*/

/*=============== COMPARE ===============*/

/*=============== LOGIN & REGISTER ===============*/

/*=============== ACCOUNTS ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
}

@media screen and (max-width: 1200px) {
}

/* For medium devices */
@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

/* For small devices */
@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
